{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Список заказов</h1>
<a href="{% url 'order_create' %}" class="btn btn-primary mb-3">Создать заказ</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Номер стола</th>
            <th>Блюда</th>
            <th>Общая стоимость</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.table_number }}</td>
            <td>
                <ul>
                    {% for item in order.items %}
                    <li>{{ item.name }} - {{ item.price }} руб.</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ order.total_price }} руб.</td>
            <td>{{ order.get_status_display }}</td>
            <td>
                <a href="{% url 'order_update' order.id %}" class="btn btn-sm btn-warning">Изменить</a>
                <a href="{% url 'order_delete' order.id %}" class="btn btn-sm btn-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}